@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
}
